=begin
#Pulp 3 API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.7

=end

require 'uri'

module PulpRpmClient
  class ContentModulemdsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a modulemd
    # Trigger an asynchronous task to create content,optionally create new repository version.
    # @param relative_path Path where the artifact is located relative to distributions base_path
    # @param name Modulemd name.
    # @param stream Stream name.
    # @param version Modulemd version.
    # @param context Modulemd context.
    # @param arch Modulemd architecture.
    # @param artifacts Modulemd artifacts.
    # @param dependencies Modulemd dependencies.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :artifact Artifact file representing the physical content
    # @option opts [File] :file An uploaded file that should be turned into the artifact of the content unit.
    # @option opts [String] :repository A URI of a repository the new content unit should be associated with.
    # @option opts [Array<String>] :packages Modulemd artifacts&#39; packages.
    # @return [AsyncOperationResponse]
    def create(relative_path, name, stream, version, context, arch, artifacts, dependencies, opts = {})
      data, _status_code, _headers = create_with_http_info(relative_path, name, stream, version, context, arch, artifacts, dependencies, opts)
      data
    end

    # Create a modulemd
    # Trigger an asynchronous task to create content,optionally create new repository version.
    # @param relative_path Path where the artifact is located relative to distributions base_path
    # @param name Modulemd name.
    # @param stream Stream name.
    # @param version Modulemd version.
    # @param context Modulemd context.
    # @param arch Modulemd architecture.
    # @param artifacts Modulemd artifacts.
    # @param dependencies Modulemd dependencies.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :artifact Artifact file representing the physical content
    # @option opts [File] :file An uploaded file that should be turned into the artifact of the content unit.
    # @option opts [String] :repository A URI of a repository the new content unit should be associated with.
    # @option opts [Array<String>] :packages Modulemd artifacts&#39; packages.
    # @return [Array<(AsyncOperationResponse, Fixnum, Hash)>] AsyncOperationResponse data, response status code and response headers
    def create_with_http_info(relative_path, name, stream, version, context, arch, artifacts, dependencies, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentModulemdsApi.create ...'
      end
      # verify the required parameter 'relative_path' is set
      if @api_client.config.client_side_validation && relative_path.nil?
        fail ArgumentError, "Missing the required parameter 'relative_path' when calling ContentModulemdsApi.create"
      end
      if @api_client.config.client_side_validation && relative_path.to_s.length < 1
        fail ArgumentError, 'invalid value for "relative_path" when calling ContentModulemdsApi.create, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ContentModulemdsApi.create"
      end
      if @api_client.config.client_side_validation && name.to_s.length < 1
        fail ArgumentError, 'invalid value for "name" when calling ContentModulemdsApi.create, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'stream' is set
      if @api_client.config.client_side_validation && stream.nil?
        fail ArgumentError, "Missing the required parameter 'stream' when calling ContentModulemdsApi.create"
      end
      if @api_client.config.client_side_validation && stream.to_s.length < 1
        fail ArgumentError, 'invalid value for "stream" when calling ContentModulemdsApi.create, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ContentModulemdsApi.create"
      end
      if @api_client.config.client_side_validation && version.to_s.length < 1
        fail ArgumentError, 'invalid value for "version" when calling ContentModulemdsApi.create, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'context' is set
      if @api_client.config.client_side_validation && context.nil?
        fail ArgumentError, "Missing the required parameter 'context' when calling ContentModulemdsApi.create"
      end
      if @api_client.config.client_side_validation && context.to_s.length < 1
        fail ArgumentError, 'invalid value for "context" when calling ContentModulemdsApi.create, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'arch' is set
      if @api_client.config.client_side_validation && arch.nil?
        fail ArgumentError, "Missing the required parameter 'arch' when calling ContentModulemdsApi.create"
      end
      if @api_client.config.client_side_validation && arch.to_s.length < 1
        fail ArgumentError, 'invalid value for "arch" when calling ContentModulemdsApi.create, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'artifacts' is set
      if @api_client.config.client_side_validation && artifacts.nil?
        fail ArgumentError, "Missing the required parameter 'artifacts' when calling ContentModulemdsApi.create"
      end
      # verify the required parameter 'dependencies' is set
      if @api_client.config.client_side_validation && dependencies.nil?
        fail ArgumentError, "Missing the required parameter 'dependencies' when calling ContentModulemdsApi.create"
      end
      # resource path
      local_var_path = '/pulp/api/v3/content/rpm/modulemds/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['relative_path'] = relative_path
      form_params['name'] = name
      form_params['stream'] = stream
      form_params['version'] = version
      form_params['context'] = context
      form_params['arch'] = arch
      form_params['artifacts'] = artifacts
      form_params['dependencies'] = dependencies
      form_params['artifact'] = opts[:'artifact'] if !opts[:'artifact'].nil?
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['repository'] = opts[:'repository'] if !opts[:'repository'].nil?
      form_params['packages'] = @api_client.build_collection_param(opts[:'packages'], :csv) if !opts[:'packages'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AsyncOperationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentModulemdsApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List modulemds
    # ViewSet for Modulemd.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :repository_version Repository Version referenced by HREF
    # @option opts [String] :repository_version_added Repository Version referenced by HREF
    # @option opts [String] :repository_version_removed Repository Version referenced by HREF
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [InlineResponse2005]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List modulemds
    # ViewSet for Modulemd.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :repository_version Repository Version referenced by HREF
    # @option opts [String] :repository_version_added Repository Version referenced by HREF
    # @option opts [String] :repository_version_removed Repository Version referenced by HREF
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(InlineResponse2005, Fixnum, Hash)>] InlineResponse2005 data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentModulemdsApi.list ...'
      end
      # resource path
      local_var_path = '/pulp/api/v3/content/rpm/modulemds/'

      # query parameters
      query_params = {}
      query_params[:'repository_version'] = opts[:'repository_version'] if !opts[:'repository_version'].nil?
      query_params[:'repository_version_added'] = opts[:'repository_version_added'] if !opts[:'repository_version_added'].nil?
      query_params[:'repository_version_removed'] = opts[:'repository_version_removed'] if !opts[:'repository_version_removed'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = opts[:'exclude_fields'] if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2005')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentModulemdsApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Inspect a modulemd
    # ViewSet for Modulemd.
    # @param modulemd_href URI of Modulemd. e.g.: /pulp/api/v3/content/rpm/modulemds/1/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [RpmModulemd]
    def read(modulemd_href, opts = {})
      data, _status_code, _headers = read_with_http_info(modulemd_href, opts)
      data
    end

    # Inspect a modulemd
    # ViewSet for Modulemd.
    # @param modulemd_href URI of Modulemd. e.g.: /pulp/api/v3/content/rpm/modulemds/1/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(RpmModulemd, Fixnum, Hash)>] RpmModulemd data, response status code and response headers
    def read_with_http_info(modulemd_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentModulemdsApi.read ...'
      end
      # verify the required parameter 'modulemd_href' is set
      if @api_client.config.client_side_validation && modulemd_href.nil?
        fail ArgumentError, "Missing the required parameter 'modulemd_href' when calling ContentModulemdsApi.read"
      end
      # resource path
      local_var_path = '{modulemd_href}'.sub('{' + 'modulemd_href' + '}', modulemd_href.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = opts[:'exclude_fields'] if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RpmModulemd')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentModulemdsApi#read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
