=begin
#Pulp 3 API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.7

=end

require 'uri'

module SwaggerClient
  class FileExportersFileApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [FileFileFileSystemExporter]
    def create(data, opts = {})
      data, _status_code, _headers = create_with_http_info(data, opts)
      data
    end

    # Create a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileFileFileSystemExporter, Fixnum, Hash)>] FileFileFileSystemExporter data, response status code and response headers
    def create_with_http_info(data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileExportersFileApi.create ...'
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling FileExportersFileApi.create"
      end
      # resource path
      local_var_path = '/pulp/api/v3/file_exporters/file/file/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FileFileFileSystemExporter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileExportersFileApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(file_file_system_exporter_href, opts = {})
      delete_with_http_info(file_file_system_exporter_href, opts)
      nil
    end

    # Delete a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(file_file_system_exporter_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileExportersFileApi.delete ...'
      end
      # verify the required parameter 'file_file_system_exporter_href' is set
      if @api_client.config.client_side_validation && file_file_system_exporter_href.nil?
        fail ArgumentError, "Missing the required parameter 'file_file_system_exporter_href' when calling FileExportersFileApi.delete"
      end
      # resource path
      local_var_path = '{file_file_system_exporter_href}'.sub('{' + 'file_file_system_exporter_href' + '}', file_file_system_exporter_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileExportersFileApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Trigger an asynchronous task to export a file publication.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [AsyncOperationResponse]
    def export(file_file_system_exporter_href, data, opts = {})
      data, _status_code, _headers = export_with_http_info(file_file_system_exporter_href, data, opts)
      data
    end

    # Trigger an asynchronous task to export a file publication.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AsyncOperationResponse, Fixnum, Hash)>] AsyncOperationResponse data, response status code and response headers
    def export_with_http_info(file_file_system_exporter_href, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileExportersFileApi.export ...'
      end
      # verify the required parameter 'file_file_system_exporter_href' is set
      if @api_client.config.client_side_validation && file_file_system_exporter_href.nil?
        fail ArgumentError, "Missing the required parameter 'file_file_system_exporter_href' when calling FileExportersFileApi.export"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling FileExportersFileApi.export"
      end
      # resource path
      local_var_path = '{file_file_system_exporter_href}export/'.sub('{' + 'file_file_system_exporter_href' + '}', file_file_system_exporter_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AsyncOperationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileExportersFileApi#export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List file file system exporters
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [InlineResponse20014]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List file file system exporters
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(InlineResponse20014, Fixnum, Hash)>] InlineResponse20014 data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileExportersFileApi.list ...'
      end
      # resource path
      local_var_path = '/pulp/api/v3/file_exporters/file/file/'

      # query parameters
      query_params = {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'name__in'] = opts[:'name__in'] if !opts[:'name__in'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = opts[:'exclude_fields'] if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20014')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileExportersFileApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Partially update a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [FileFileFileSystemExporter]
    def partial_update(file_file_system_exporter_href, data, opts = {})
      data, _status_code, _headers = partial_update_with_http_info(file_file_system_exporter_href, data, opts)
      data
    end

    # Partially update a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileFileFileSystemExporter, Fixnum, Hash)>] FileFileFileSystemExporter data, response status code and response headers
    def partial_update_with_http_info(file_file_system_exporter_href, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileExportersFileApi.partial_update ...'
      end
      # verify the required parameter 'file_file_system_exporter_href' is set
      if @api_client.config.client_side_validation && file_file_system_exporter_href.nil?
        fail ArgumentError, "Missing the required parameter 'file_file_system_exporter_href' when calling FileExportersFileApi.partial_update"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling FileExportersFileApi.partial_update"
      end
      # resource path
      local_var_path = '{file_file_system_exporter_href}'.sub('{' + 'file_file_system_exporter_href' + '}', file_file_system_exporter_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FileFileFileSystemExporter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileExportersFileApi#partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Inspect a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [FileFileFileSystemExporter]
    def read(file_file_system_exporter_href, opts = {})
      data, _status_code, _headers = read_with_http_info(file_file_system_exporter_href, opts)
      data
    end

    # Inspect a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(FileFileFileSystemExporter, Fixnum, Hash)>] FileFileFileSystemExporter data, response status code and response headers
    def read_with_http_info(file_file_system_exporter_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileExportersFileApi.read ...'
      end
      # verify the required parameter 'file_file_system_exporter_href' is set
      if @api_client.config.client_side_validation && file_file_system_exporter_href.nil?
        fail ArgumentError, "Missing the required parameter 'file_file_system_exporter_href' when calling FileExportersFileApi.read"
      end
      # resource path
      local_var_path = '{file_file_system_exporter_href}'.sub('{' + 'file_file_system_exporter_href' + '}', file_file_system_exporter_href.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = opts[:'exclude_fields'] if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FileFileFileSystemExporter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileExportersFileApi#read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [FileFileFileSystemExporter]
    def update(file_file_system_exporter_href, data, opts = {})
      data, _status_code, _headers = update_with_http_info(file_file_system_exporter_href, data, opts)
      data
    end

    # Update a file file system exporter
    # FileSystemExporters export content from a publication to a path on the file system.
    # @param file_file_system_exporter_href URI of File File System Exporter. e.g.: /pulp/api/v3/file_exporters/file/file/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileFileFileSystemExporter, Fixnum, Hash)>] FileFileFileSystemExporter data, response status code and response headers
    def update_with_http_info(file_file_system_exporter_href, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileExportersFileApi.update ...'
      end
      # verify the required parameter 'file_file_system_exporter_href' is set
      if @api_client.config.client_side_validation && file_file_system_exporter_href.nil?
        fail ArgumentError, "Missing the required parameter 'file_file_system_exporter_href' when calling FileExportersFileApi.update"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling FileExportersFileApi.update"
      end
      # resource path
      local_var_path = '{file_file_system_exporter_href}'.sub('{' + 'file_file_system_exporter_href' + '}', file_file_system_exporter_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FileFileFileSystemExporter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileExportersFileApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
