=begin
#Pulp 3 API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.7

=end

require 'uri'

module SwaggerClient
  class RepositoriesRpmApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a rpm repository
    # A ViewSet for RpmRepository.
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [RpmRpmRepository]
    def create(data, opts = {})
      data, _status_code, _headers = create_with_http_info(data, opts)
      data
    end

    # Create a rpm repository
    # A ViewSet for RpmRepository.
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RpmRpmRepository, Fixnum, Hash)>] RpmRpmRepository data, response status code and response headers
    def create_with_http_info(data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.create ...'
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling RepositoriesRpmApi.create"
      end
      # resource path
      local_var_path = '/pulp/api/v3/repositories/rpm/rpm/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RpmRpmRepository')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a rpm repository
    # Trigger an asynchronous task to delete a repository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param [Hash] opts the optional parameters
    # @return [AsyncOperationResponse]
    def delete(rpm_repository_href, opts = {})
      data, _status_code, _headers = delete_with_http_info(rpm_repository_href, opts)
      data
    end

    # Delete a rpm repository
    # Trigger an asynchronous task to delete a repository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param [Hash] opts the optional parameters
    # @return [Array<(AsyncOperationResponse, Fixnum, Hash)>] AsyncOperationResponse data, response status code and response headers
    def delete_with_http_info(rpm_repository_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.delete ...'
      end
      # verify the required parameter 'rpm_repository_href' is set
      if @api_client.config.client_side_validation && rpm_repository_href.nil?
        fail ArgumentError, "Missing the required parameter 'rpm_repository_href' when calling RepositoriesRpmApi.delete"
      end
      # resource path
      local_var_path = '{rpm_repository_href}'.sub('{' + 'rpm_repository_href' + '}', rpm_repository_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AsyncOperationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List rpm repositorys
    # A ViewSet for RpmRepository.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [InlineResponse20021]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List rpm repositorys
    # A ViewSet for RpmRepository.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(InlineResponse20021, Fixnum, Hash)>] InlineResponse20021 data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.list ...'
      end
      # resource path
      local_var_path = '/pulp/api/v3/repositories/rpm/rpm/'

      # query parameters
      query_params = {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'name__in'] = opts[:'name__in'] if !opts[:'name__in'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = opts[:'exclude_fields'] if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20021')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Trigger an asynchronous task to create a new repository version.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [AsyncOperationResponse]
    def modify(rpm_repository_href, data, opts = {})
      data, _status_code, _headers = modify_with_http_info(rpm_repository_href, data, opts)
      data
    end

    # Trigger an asynchronous task to create a new repository version.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AsyncOperationResponse, Fixnum, Hash)>] AsyncOperationResponse data, response status code and response headers
    def modify_with_http_info(rpm_repository_href, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.modify ...'
      end
      # verify the required parameter 'rpm_repository_href' is set
      if @api_client.config.client_side_validation && rpm_repository_href.nil?
        fail ArgumentError, "Missing the required parameter 'rpm_repository_href' when calling RepositoriesRpmApi.modify"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling RepositoriesRpmApi.modify"
      end
      # resource path
      local_var_path = '{rpm_repository_href}modify/'.sub('{' + 'rpm_repository_href' + '}', rpm_repository_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AsyncOperationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#modify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Partially update a rpm repository
    # A ViewSet for RpmRepository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [RpmRpmRepository]
    def partial_update(rpm_repository_href, data, opts = {})
      data, _status_code, _headers = partial_update_with_http_info(rpm_repository_href, data, opts)
      data
    end

    # Partially update a rpm repository
    # A ViewSet for RpmRepository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RpmRpmRepository, Fixnum, Hash)>] RpmRpmRepository data, response status code and response headers
    def partial_update_with_http_info(rpm_repository_href, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.partial_update ...'
      end
      # verify the required parameter 'rpm_repository_href' is set
      if @api_client.config.client_side_validation && rpm_repository_href.nil?
        fail ArgumentError, "Missing the required parameter 'rpm_repository_href' when calling RepositoriesRpmApi.partial_update"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling RepositoriesRpmApi.partial_update"
      end
      # resource path
      local_var_path = '{rpm_repository_href}'.sub('{' + 'rpm_repository_href' + '}', rpm_repository_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RpmRpmRepository')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Inspect a rpm repository
    # A ViewSet for RpmRepository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [RpmRpmRepository]
    def read(rpm_repository_href, opts = {})
      data, _status_code, _headers = read_with_http_info(rpm_repository_href, opts)
      data
    end

    # Inspect a rpm repository
    # A ViewSet for RpmRepository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields A list of fields to include in the response.
    # @option opts [String] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(RpmRpmRepository, Fixnum, Hash)>] RpmRpmRepository data, response status code and response headers
    def read_with_http_info(rpm_repository_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.read ...'
      end
      # verify the required parameter 'rpm_repository_href' is set
      if @api_client.config.client_side_validation && rpm_repository_href.nil?
        fail ArgumentError, "Missing the required parameter 'rpm_repository_href' when calling RepositoriesRpmApi.read"
      end
      # resource path
      local_var_path = '{rpm_repository_href}'.sub('{' + 'rpm_repository_href' + '}', rpm_repository_href.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = opts[:'exclude_fields'] if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RpmRpmRepository')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Sync from remote
    # Trigger an asynchronous task to sync RPM content.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [AsyncOperationResponse]
    def sync(rpm_repository_href, data, opts = {})
      data, _status_code, _headers = sync_with_http_info(rpm_repository_href, data, opts)
      data
    end

    # Sync from remote
    # Trigger an asynchronous task to sync RPM content.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AsyncOperationResponse, Fixnum, Hash)>] AsyncOperationResponse data, response status code and response headers
    def sync_with_http_info(rpm_repository_href, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.sync ...'
      end
      # verify the required parameter 'rpm_repository_href' is set
      if @api_client.config.client_side_validation && rpm_repository_href.nil?
        fail ArgumentError, "Missing the required parameter 'rpm_repository_href' when calling RepositoriesRpmApi.sync"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling RepositoriesRpmApi.sync"
      end
      # resource path
      local_var_path = '{rpm_repository_href}sync/'.sub('{' + 'rpm_repository_href' + '}', rpm_repository_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AsyncOperationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#sync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a rpm repository
    # Trigger an asynchronous task to update a repository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [AsyncOperationResponse]
    def update(rpm_repository_href, data, opts = {})
      data, _status_code, _headers = update_with_http_info(rpm_repository_href, data, opts)
      data
    end

    # Update a rpm repository
    # Trigger an asynchronous task to update a repository.
    # @param rpm_repository_href URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/
    # @param data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AsyncOperationResponse, Fixnum, Hash)>] AsyncOperationResponse data, response status code and response headers
    def update_with_http_info(rpm_repository_href, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesRpmApi.update ...'
      end
      # verify the required parameter 'rpm_repository_href' is set
      if @api_client.config.client_side_validation && rpm_repository_href.nil?
        fail ArgumentError, "Missing the required parameter 'rpm_repository_href' when calling RepositoriesRpmApi.update"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling RepositoriesRpmApi.update"
      end
      # resource path
      local_var_path = '{rpm_repository_href}'.sub('{' + 'rpm_repository_href' + '}', rpm_repository_href.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AsyncOperationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesRpmApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
